body {
  padding-top: 3rem;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #404040;
}


.container {
	padding-top: 2rem;
}

.row {
	margin-top: 2rem;
}

h2 {
  text-align: center;
  color: black
}

.hide {
  display: hidden;
}


.card-title {
  background-color: lightblue;
  color: black;
  padding: 5px;
}

.card-text {
  padding-left: 3px;
  padding-right: 3px;
}

.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}

footer {
  margin-top: 2%;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.navigation-link{
  color: rgb(247, 250, 255) !important;
}

.navigation-link:hover{
  color: rgba(255, 255, 255, 0.75) !important;
}

.repo-button {
  display: block;
  padding-left: 3px;
  margin-bottom: 3px;
}

.col-sm-4 {
  margin-bottom: 1.5rem;
}


/**Increase the margin between rows at 1200 px
   Below 1200 there are still 3 per row but the 
   Margin gets bigger so by increasing it above
   1200 the look stays consistent*/
@media (min-width: 1200px) {
	.secondary{
		padding-top: 4rem;
	}
}