/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


body {
  padding-top: 3rem;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #404040;
}


/* CUSTOMIZE THE JUMBOTRON */

.jumbotron {
  background-color: white;
  /*background-color: #777;
  background-image: url(./img/about_background2.jpg);*/
  height: 15rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.about_me {
  color: black;
}

/**div.jumbotron > div{
  border-style: solid;
  border-color: red;
}*/

.container {
	text-align: center;
}

button {
	border-radius: 3px;
}

.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}

.bottom_links{
  color: gray;
}

.bottom_links:hover{
  color: white;
}

footer {
  padding-top: 1rem;
  padding-bottom:2rem;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}