/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/*html, body{
  height: 100%;
}*/
body {
  padding-top: 3rem;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #656565;
}


/* CUSTOMIZE THE JUMBOTRON */

.jumbotron {
  background-color: #777;
  background-image: url(./img/about_background2.jpg);
  /*height: 40rem;*/
  height: 10rem;
  margin-bottom: 0%;
}

#aboutSection {
  min-height: 24rem;
  padding-top: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}


/**div.jumbotron > div{
  border-style: solid;
  border-color: red;
}*/

.about_me{
  color: #404040;

}

h1.about_me{ 
  margin-bottom: 2rem;
}

p.about_me{
  font-weight: bold;
  width: 60%;
  margin: 0 auto;
}


.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}

.bottom_links{
  color: gray;
}

a.bottom_links:hover{
  color: white;
}

#footer {
  /*height:100%;*/
  padding-top: 1rem;
  padding-bottom:2rem;
}




/* RESPONSIVE CSS
-------------------------------------------------- */

